@import "~bootstrap/scss/mixins";
.card {
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    a {
      @include text-truncate();
    }
  }
  .info {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
