@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}
.space-break {
  white-space: break-spaces;
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  & > div.container {
    flex: 1 0 auto;
    & > div {
      height: auto !important;
    }
  }
}
