@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > div {
    flex: 1 0 auto;
    & > div {
      height: auto !important;
    }
  }
}
